<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Lending Club Loan</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="../static/css/style.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <!-- Our CSS -->
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    </head>
    


    <body class="sb-nav-fixed">

        
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <div class="col col-md-9">
              <a class="navbar-brand ps-3" href="/">Lending Club Loan Approval Predicter</a>
            </div>
            <div class="col col-md-1">
              <a class="navbar-brand ps-3" href="/assessment">Loan Grader</a> 
            </div>
            <div class="col col-md-1">
              <a class="navbar-brand ps-3" href="/repayment">Repayment Data</a> 
            </div>
            <div class="col col-md-1">
              <a class="navbar-brand ps-3" href="/grade">Grade Data</a> 
            </div>          
        </nav>

        <div class="container">
          <div class="row" style="margin-top:30px; margin-bottom:30px">
          </div>
        </div>
                 
            <div id="layoutSidenav_content">
                <main>
                  <div class="container">
                    <div class="row">
                      <div class="col col-3">
                      </div>
                    </div>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Need a loan? Our loan grader will predict your loan application grade!</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active"></li>
                        </ol>
                        <div class="row">
                            <h4 class="mb-0 font-weight-normal d-none d-sm-block">
                              Based on the grade you receive, Lending Club will determine how likely you are to get a loan.
                                <br> <br>
                            </h4>
                        </div>
                            <a type="button" class="btn btn-dark" href="/assessment">Get Started!</a>
                        </div>
                    </div>


                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">DATA VISUALIZATION BOOTCAMP 2021 PROJECT 3 <br>Copyright &copy; Your Website 2021</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="static/js/app.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
      
       
      
      
    </body>
</html>